.title{
    @include type-title(29);
}

.info-product{
    @include type-regular(16);
}

.product-price{
    @include type-price(23)
}

.product-install{
    @include type-install(17)
}

.product-price-install{
    @include type-price(17)  
}

.product-content{
    padding: 40px 25px;
}

.product-current{
    padding: 40px 25px;
    @include border-content($color-border);
}
.product-img{
    max-width: 100%;
    @include centered-item;
}