//Cores
$color-primary:#fff;
$color-active: #ff6600;
$color-shadow: #f4f4f4;
$color-title: #5e6774;
$color-regular: #303132;
$color-price: #353f4f;
$color-price-install: #5e6774;
$color-border: #edeaea;
$color-button: #adadad;
$color-button-active: #353f4f;
$color-button-font: #353f4f;
//Tipografia
@mixin type-title($size){
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: $size + px;
    color: $color-title;
}

@mixin type-regular($size){
    font-family: 'Roboto', sans-serif;
    font-size: $size + px;
    color: $color-regular;
}

@mixin type-install($size){
    font-size: $size + px;
    font-family: 'Roboto', sans-serif;
    color: $color-price-install;
}

@mixin type-price($size){
    font-size: $size + px;
    color: $color-price !important;
    font-weight: bold !important;
    font-family: 'Roboto Black', sans-serif;
    line-height: 33px;
}

@mixin type-button($size){
    font-size: $size + px;
    color: $color-button-font !important;
    font-weight: bold !important;
    font-family: 'Roboto Condensed', sans-serif;

}


// Variáveis do Grid
$cols: 12;
$gutter: 20px;
$lg-device: 1200px;
$lg-device-limiter: $lg-device - 1;
$md-device: 760px;
$md-device-limiter: $md-device - 1;
$sm-device: 480px;

//Mixin de estrutura de grid
@mixin grid-structure{
    float: left;
    min-height: 1px;
    margin-left: $gutter / 2; 
    margin-right: $gutter / 2; 
    @include device(md){
        width: 50%;
    }
    @include device(sm){
        width: 100% !important;
        float: none;
        margin-right: 0px;
        margin-left: 0px;
    }
}

// Mixin de media-queries
@mixin device($size){
    @if $size == lg{
        @media screen and (min-width: #{$lg-device}) {
            @content;
        }
    } @else if $size == md {
        @media screen and (min-width: #{$md-device}) and (max-width: #{$lg-device-limiter}) {
            @content;
        }
    } @else if $size == sm {
        @media screen and (max-width: #{$md-device-limiter}){
            @content;
        }
    }
}

// Mixin para clearfix
@mixin clearfix{
    &::after, &::before{
        content: '';
        display: table;
        clear: both;
    }
}

@mixin container{
    max-width: $lg-device;
    margin: 0 auto;
    position: relative;
    @include device(md){
        max-width: $md-device;
    }
    @include device(sm){
        max-width: $sm-device;
        padding-left: 10px;
        padding-right: 10px;
    }

    @include clearfix;
}

// Mixin de linha
@mixin row{
    position: relative;
    margin-left: -$gutter/2;
    margin-right: -$gutter/2;
    @include device(sm){        
        margin-left: 0;
        margin-right: 0;
    }
    @include clearfix;
}

//Mixin de Estilização
@mixin border-content($color){
    border: 1px solid $color;
    @include device(lg){
        &:nth-child(even){            
            border-top: 1px solid $color;
            border-bottom: 1px solid $color;
            border-right: 0px !important; 
            border-left: 0px !important; 
        }
        &:last-child{            
            border-right: 1px solid $color !important; 
        }
    }    
}

@mixin centered-item{    
    display: block;
    margin: 0 auto;
}

//Mixins para o Carrossel

@mixin carrossel-buttons{
    .carrossel-next, .carrossel-prev{
        position: absolute;
        width: 40px;
        height: 40px;
        background: url('../img/icons/next.svg') center center no-repeat;
        background-size: 20px 20px;
        border-radius: 50%;
        top: 50%;
        margin-top: -20px;
        right: 0px;
        cursor: pointer;
        transition: transform 0.3s, opacity 0.3s;
    
        &-hidden{
            display: none;
        }
    
        &:hover{
            transform: scale(1.2);
        }
    }
    
    .carrossel-prev{
        right: auto;
        left: 0px;
        background: url('../img/icons/back.svg') center center no-repeat;
        background-size: 20px 20px;
    }
}

@mixin inner-top-box-shadow($color){
    -webkit-box-shadow: inset 0px 400px 200px $color;
       -moz-box-shadow: inset 0px 400px 200px $color;
            box-shadow: inset 0px 400px 200px$color;
    
}